.projetos {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 6rem;
    background-color: #82b62fc3;
}

.projetos-titulo {
    align-self: center;
    font-size: 3rem;
    margin-bottom: 4rem;
}

.monkey-nome {
    font-size: 2rem;
    background-image: linear-gradient(to right, #425721, #4257219e);
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: #ffffff;
    padding: 0.2rem;
    width: 19rem;
    text-align: center;
    align-self: flex-start;
    margin-left: 2rem;
}

.monkey-about {
    display: flex;
    justify-content: space-between;
}

.monkey-img {
    height: 30rem;
    margin-top: 1.5rem;
    margin-left: 2rem;
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.monkey-assets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(1.1);
    background-color: #b2e364c3;
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-right: 5rem;
    height: 30rem;
}

.assets-armaPasta {
    width: 15rem;
    height: auto;
    margin-top: 3rem;
}

.assets-luis {
    width: 21rem;
    height: auto;
}